<%- include("partials/header"); -%>

<%# Introduction-------------------------------------------------------------- %>
<div class="jumbotron jumbotron-fluid intro">
	<h1 class = "h1-intro">My name is Isaiah Landin</h1>
	<h2 class = "h2-intro">A <u>Professional Hello World Programmer</u> in <b>ANY</b> language</h2>
</div>

<%# Mission Statement--------------------------------------------------- %>
<div class="container mission-container">

	<div class="h1-miss-div container">
		<h1 class="h1-miss">Mission Statement</h1>
	</div>
	<p class="p-miss">Currently a college student pursuing a degree in Computer Science. My goal is to help your business attract as many customers as possible by creating an ergonomic user interface. Currently seeking to further improve Frontend Developement, Backend Development, JavaScript, HTML5, and CSS3 skills.</p>
</div>

<%# Resume ------------------------------------------------------ %>
<div class="container mission-container resume-container">

	<div class="h1-miss-div container">
		<h1 class="h1-miss">Resume</h1>
  </div>
	<div class="resume">
		<h2 class="h2-resume">Skills</h2>
		<hr>
		<ul>
			<li class="skills">Inventor CAD</li>
			<li class="skills">Audio Engineering</li>
			<li class="skills">Python</li>
			<li class="skills">Java</li>
			<li class="skills">JavaScript</li>
			<li class="skills">HTML5</li>
			<li class="skills">CSS</li>
		</ul>
		<h2 class="h2-resume">Experience</h2>
		<hr>
		<h3>Walmart, 12236 Montana Ave, El Paso, TX 79938 - Produce Associate</h3>
		<h4>June 2018 - September 2018</h4>

		<h2 class="h2-resume">Education</h2>
		<hr>
		<h3>El Paso Community College - Associates in Science</h3>
		<h4>2015 - 2018</h4>
		<h3>University of Texas at El Paso</h3>
		<h4>2018 - Current</h4>
  </div>
</div>
<%- include("partials/footer"); -%>
