body{
	font-family : Roboto;
	background-color: #eedad1;
	color: white;
}
p{
	padding: 10px 0 0 0;
}
hr{
	margin-top: 0;
}

/* Introduction -----------------------------------------------------------------------*/
.intro{
	background-color: #383e56;
}

.h1-intro{
	/* TODO: find out how to make the h1 center in regular browser then left algin in mobile */
	text-align: center;
}
.h2-intro{
	/* TODO: find out how to make the h2 center in regular browser then left algin in mobile */
	text-align: center;
}

/* Mission Statement------------------------------------------------------------------- */
.mission-container{

	background-color: #d4b5b0;
  padding-left: 0;
	padding-right: 0;
}
.h1-miss-div{
	/* TODO: FIGURE OUT HW TO MAKE THE H1's to get in the middle of there div parent when it is in mobile size */
	position: relative;
	right: 20px;
	background-color:#f69e7b;
	padding-left: 0;
	margin-right:0;
}
.h1-miss{
	padding-left: 10px;
}
.p-miss{
	padding-left: 20px;
	padding-right:20px;
	padding-bottom: 20px;
}

/* Resume --------------------------------------------------------------------------------*/
.resume-container{
	padding-right:0;
	margin-bottom: 40px;
	padding-bottom:20px
}
.resume{
	padding-left: 20px;
	padding-right: 20px;
}
.h2-resume{
	padding: 10px 0 10px 0;
	background-color: #e0c1bb;
	margin-bottom:0;
}
.skills{
	font-size: 150%;
}
/* Projects Page----------------------------------------------------------------------------------- */
.project-container{
	background-color: #d4b5b0;
	margin-top: 0;
}
.project-p{
	display: inline-block;
	padding-left: 1.25rem;
}
.project-h2{
	padding-left: 1.25rem;

}
.project-header{
	background-color: #383e56;
	padding: 1rem 0 1rem 1rem;
	margin-bottom: 0;
}
.h2-project-div{
	background-color: #f69e7b;
	padding: .25rem 0 .25rem 0;
}
.project-form{
	border-color: black;
	border-width: .05rem;
	margin-top: 1.25rem;
	margin-bottom:1.25rem;
}
/* Database project -------------------------------------------------------------------------------------*/
.db-project-h2{
	background-color: #d4b5b0;
}
.db-form-div{
	/* display: block; TODO: Check too see if this fucks anything up*/
	text-align: center;
	width: 90%;        /*TODO: See if this works*/
	margin: 0 auto;
}
.db-form{             /*TODO: I think you can delete this class*/
	/* display: inline-block; */
}
.db-table-div{
	/* text-align: center;  TODO: I don't think I need this */
	width: 90%;
	margin: 0 auto;
}

/* @media(min-width: 500px){
	.project-large-screen{
		margin: 0 1rem 0 1rem;
	}
} */
